/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
      height: 100%;
    color: white;
    font: 2vw Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
  }
  
  html::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: -o-linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), -o-linear-gradient(left, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(18, 16, 16, 0)), color-stop(50%, rgba(0, 0, 0, 0.25))), -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.06)), color-stop(rgba(0, 255, 0, 0.02)), to(rgba(0, 0, 255, 0.06)));
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 200;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
    overflow: hidden;
  }

button, input[type="submit"], input[type="reset"] {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}

  .nav-wrap {
    overflow: hidden;
      background-color: #323232;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      -webkit-animation: slideInDown 1s ease 0s 1 normal forwards;
              animation: slideInDown 1s ease 0s 1 normal forwards;
  }
  
  @-webkit-keyframes slideInDown {
      0% {
          -webkit-transform: translateY(-250px);
                  transform: translateY(-250px);
      }
  
      100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
      }
  }
  
  @keyframes slideInDown {
      0% {
          -webkit-transform: translateY(-250px);
                  transform: translateY(-250px);
      }
  
      100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
      }
  }
  
  .nav {
    overflow: hidden;
      background: -o-linear-gradient(#00d2ff 20%, #ffa6b9 0 40%, white 0 60%, #ffa6b9 0 80%, #00d2ff 0);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #00d2ff), color-stop(0, #ffa6b9), color-stop(0, white), color-stop(0, #ffa6b9), color-stop(0, #00d2ff));
      background: linear-gradient(#00d2ff 20%, #ffa6b9 0 40%, white 0 60%, #ffa6b9 0 80%, #00d2ff 0);
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
    padding: 14px 16px;
      white-space: nowrap;
  }
  
  .nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      white-space: nowrap;
  }
  
  .nav a:hover {
    color: white;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      white-space: nowrap;
  }
  
  .nav a.active {
    color: white;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      white-space: nowrap;
  }
  
  .nav-wrap a:hover {
    color: white;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      white-space: nowrap;
  }
  
  .nav-wrap a.active {
    color: white;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      white-space: nowrap;
  }
  
  ::-moz-selection {
    background: #0080FF;
    text-shadow: none;
  }
  
  ::selection {
    background: #0080FF;
    text-shadow: none;
  }
  
  #one-wrap {
    position: absolute;
      z-index: 1;
    left: 50%;
    top: 50%;
    -webkit-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    opacity: 1
  }
  
  #secret2 {
    -webkit-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
  }
  
  .arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 6px;
      
  }
  
  .arrow::hover, .down::hover {
    padding: 12px;
      border: solid white;
      -webkit-transition: border-width 3s cubic-bezier(.47,1.64,.41,.8);
      -o-transition: border-width 3s cubic-bezier(.47,1.64,.41,.8);
      transition: border-width 3s cubic-bezier(.47,1.64,.41,.8);
    border-width: 0 8px 8px 0;
  }
  
  .down {
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  #button1 {
    position: absolute;
    left: 50%;
    top: 68%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: 3s cubic-bezier(.47,1.64,.41,.8);
    -o-transition: 3s cubic-bezier(.47,1.64,.41,.8);
    transition: 3s cubic-bezier(.47,1.64,.41,.8);
    z-index: 1;
    -webkit-transition-delay: 0.4s;
         -o-transition-delay: 0.4s;
            transition-delay: 0.4s;
      border-color: black;
  }
  
  a:link {
    color: white;
    text-decoration: none;
      cursor: pointer;
  }
  
  a:visited {
    color: white;
    text-decoration: none;
      cursor: pointer;
  }
  
  a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  a:active {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  #button2 {
    position: absolute;
    left: 50%;
    top: 76%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: 3s cubic-bezier(.47,1.64,.41,.8);
    -o-transition: 3s cubic-bezier(.47,1.64,.41,.8);
    transition: 3s cubic-bezier(.47,1.64,.41,.8);
    z-index: 4;
    -webkit-transition-delay: 0.4s;
         -o-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  
  body {
      height: 100%;
    overflow: hidden;
    background: #001220;
    background-image: url(/img/bg4.svg);
    background-position-x: center;
      background-position-y: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
      font-size: 2vw;
  }
  
  #main {
      opacity: 0;
    -webkit-transition: opacity 3s ease;
    -o-transition: opacity 3s ease;
    transition: opacity 3s ease;
      font-size: 2vw;
  }
  
  #two {
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    position: absolute;
      z-index: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
  }
  
  #three {
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    position: absolute;
      z-index: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
  }

	#five {
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    position: absolute;
      z-index: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
  }

  #four {
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  #four span {
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    background-color: rgb(255, 255, 255);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    white-space: nowrap;
    margin-top: 10px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: absolute;
    cursor: default;
    left: 50%;
    border-radius: 6px;
    text-shadow: none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  #four span:hover {
    background-color: rgba(255, 255, 255, 0);
    -webkit-filter: none;
    filter: none;
    text-shadow: 0 0 5px #C8C8C8;
    cursor: default;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  #three span {
      -webkit-transition: 1s ease;
      -o-transition: 1s ease;
      transition: 1s ease;
      background-color: rgb(255, 255, 255);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
      white-space: nowrap;
      margin-top: 10px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
    position: absolute;
      cursor: default;
    left: 50%;
    border-radius: 6px;
    text-shadow: none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
  }
  
  #three span:hover {
      background-color: rgba(255, 255, 255, 0);
      -webkit-filter: none;
              filter: none;
    text-shadow: 0 0 5px #C8C8C8;
      cursor: default;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
  }
  
  #container-wrap-wrap {
    overflow: hidden;
      -webkit-transition: opacity 3s ease;
      -o-transition: opacity 3s ease;
      transition: opacity 3s ease;
      opacity: 1;
  }
  
  #container-wrap {
      height: 100%;
    overflow: hidden;
    background: -o-radial-gradient(rgba(255, 255, 255, 1), black 120%);
    background: radial-gradient(rgba(255, 255, 255, 1), black 120%);
      -webkit-transition: opacity 3s ease;
      -o-transition: opacity 3s ease;
      transition: opacity 3s ease;
      opacity: 0;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
  
  .btn{
  
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background: -o-linear-gradient(#00d2ff 20%, #ffa6b9 0 40%, white 0 60%, #ffa6b9 0 80%, #00d2ff 0);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #00d2ff), color-stop(0, #ffa6b9), color-stop(0, white), color-stop(0, #ffa6b9), color-stop(0, #00d2ff));
  background: linear-gradient(#00d2ff 20%, #ffa6b9 0 40%, white 0 60%, #ffa6b9 0 80%, #00d2ff 0);
  padding: 20px 30px;
  width: 30px;
  height: 20px;
  -webkit-transition : 400ms cubic-bezier(.34,1.56,.64,1);
  -o-transition : 400ms cubic-bezier(.34,1.56,.64,1);
  transition : 400ms cubic-bezier(.34,1.56,.64,1);
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 2px;
  border-color: black;
	border-style: solid;
	border-width: 2px;
  }
  
  .btn:hover{
  white-space: nowrap;
  overflow: hidden;
  padding: 20px 80px;
  -webkit-transition : 400ms cubic-bezier(.34,1.56,.64,1);
  -o-transition : 400ms cubic-bezier(.34,1.56,.64,1);
  transition : 400ms cubic-bezier(.34,1.56,.64,1);
  margin-top: 2px;
  border-color: black;
	border-style: solid;
	border-width: 2px;
}
  
  #one span {
      -webkit-transition: 1s ease;
      -o-transition: 1s ease;
      transition: 1s ease;
      background-color: rgb(255, 255, 255);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
      white-space: nowrap;
      margin-top: 10px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
    position: absolute;
      cursor: default;
    left: 50%;
    border-radius: 6px;
    text-shadow: none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
  }
  
  #one span:hover {
      background-color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 5px #C8C8C8;
      cursor: default;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
  }

#notif {
    visibility: hidden;
    min-width: 290px;
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 30px;
}

#notif.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation-timing-function: ease;
}

@-webkit-keyframes fadein {
  from {left: 100%; opacity: 1;}
  to {left: 0%; opacity: 1;}
}

@keyframes fadein {
  from {left: 100%; opacity: 1;}
  to {left: 0%; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {left: 0%; opacity: 1;}
  to {left: 100%; opacity: 1;}
}

@keyframes fadeout {
  from {left: 0%; opacity: 1;}
  to {left: 100%; opacity: 1;}
}
